sv_name LANaaPaaS Teeworlds

# Setup for LAN
sv_max_clients 24
sv_player_slots 24
sv_port 8303
sv_rcon_password lan
sv_register 0
sv_spamprotection 0
sv_warmup 0
sv_timelimit 10

add_vote "Restart" "restart 1"
add_vote "Capture The Flag" "exec ./cfg/ctf.cfg"
add_vote "Team Death Match" "exec ./cfg/tdm.cfg"

exec ./cfg/tdm.cfg
